/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  padding: 20px;
  background:linear-gradient(green,black,green,black);
  font-family: 'Poppins';
}
.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background:black;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: auto;
}
.container header {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  text-align: center;
}
.form .input-box {
  width: 100%;
  padding: 10px;
}
.input-box label {
  color:#fff;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  background:white;
  color:black;
}
.form button:hover {
  background:green;
}

.login-form .signin{
  width: 100%;
  height: 42px;
  background: #000000;
  color: whitesmoke;
  border-radius: 8px;

}

.login-form .signin-goggle{
  width: 100%;
  height: 42px;
  left: 186px;
  top: 506px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #BCBCBC;
  border-radius: 8px;
  margin: 10px 0 20px 0;
}

a{
  color:whitesmoke;
  margin-left:280px;
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }

  a{
    margin-left: 105px;
  }
}